<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrackerZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Network.svg" />
    <script src="https://cdn.tiny.cloud/1/qqpg047gprjx3777202fwicz6f5zlttn0vvka6vkx90yycr0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

</head>

@*
    Colors:
    #363538 - dark
    #8d8c8a - grey
    #f6f6f6 - light
    #408697 - dim blue
    #52d6f4 - bright blue
*@
<body onload="unescape()">
    <script type="text/javascript">
        /* Set the width of the sidebar to 250px (show it) */
        function openNav() {
            document.getElementById("mySidepanel").style.width = "100%";
        }

        /* Set the width of the sidebar to 0 (hide it) */
        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
        function openHeader() {
            document.getElementById("myHeaderpanel").style.width = "100%";
        }

        /* Set the width of the sidebar to 0 (hide it) */
        function closeHeader() {
            document.getElementById("myHeaderpanel").style.width = "0";
        }
    </script>
    <div class="page-wrap">
        <header class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow page-header"
                style="text-transform:none; justify-content:center">
            <partial name="_CookieConsentPartial" />
            <partial name="_ManageNavPanel" />
            <partial name="_ManageHeaderPanel" />
            <div class="container">
                <div style="display: flex; justify-content: flex-start; align-items: center">
                    <button id="mySidepaneldiv" class="btn btn-primary" onclick="openNav()" style="width:58px; height:44px; border-radius:5px; font-size:26px; text-align:center">&#9776;</button>
                </div>
                <a class="navbar-brand" style="color:#f6f6f6" asp-area="" asp-controller="Home" asp-action="Index">Tracker<span id="tracker">Z</span></a>
                <div style="display: flex; justify-content: flex-start; align-items: center">
                    <button id="myHeaderpaneldiv" class="btn btn-primary" onclick="openHeader()" style="width:58px; height:44px; border-radius:5px; font-size:26px; text-align:center">&#9776;</button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_ManageHeaderMenu" />
                </div>
            </div>
        </header>
        @RenderBody()
        <div class="page-footer">
            <div class="container" style="color:#f6f6f6; text-transform:none">
                &copy; 2021 - Tracker<span id="tracker">Z</span> - <a asp-area="" asp-controller="Home" asp-action="Privacy"><span id="tracker">P</span>rivacy</a>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
