<div id="mySidepanel" class="sidepanel" href="javascript:void(0)" onclick="closeNav()">
    <partial name="_ManageNavMenu" />
    <a href="javascript:void(0)" class="btn btn-primary mt-1" onclick="closeNav()"><span id="tracker">C</span>lose</a>
</div>