<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><span id="tracker">H</span>ome</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy"><span id="tracker">P</span>rivacy</a>
    </li>
    <partial name="_LoginPartial" />
</ul>