@page
@model Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.RegisterModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Register";
}
<aside class="page-sidebar bg-dark">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-disabled m-1 mt-3">Home</a>
        <a asp-controller="Home" asp-action="Table" class="btn btn-primary m-1 mt-3">Table</a>
        <a asp-controller="Home" asp-action="New" class="btn btn-primary m-1 mt-3">New Incident</a>
    }
</aside>
<nav class="page-nav text-left bg-dark">
    <h3 style="text-align:center; color:white">Register</h3>
</nav>
<main class="page-main bg-dark">
    <div class="col-md-4">
        <form id="registerForm" method="post" action="/Identity/Account/Register" asp-antiforgery="true">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                <label for="Input_Email" class="text-light">Email</label>
                <input class="form-control" autocomplete="username" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." 
                       data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="" placeholder="E-mail" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Input_Password" class="text-light">Password</label>
                <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long." 
                       data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Input_Password" maxlength="100" name="Input.Password" placeholder="Password"/>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="Input_ConfirmPassword" class="text-light">Confirm password</label>
                <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-equalto="The password and confirmation password do not match." 
                       data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword" placeholder="Confirm password"/>
                <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</main>
