/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/


/*
    Colors:
    #363538 - dark
    #8d8c8a - grey
    #f6f6f6 - light
    #408697 - dim blue
    #52d6f4 - bright blue
*/

a {
    color: white;
}

    a:hover {
        color: #52d6f4;
        text-decoration: none;
        text-shadow: 2px 2px #000000;
    }
span {
    color: #52d6f4;
    text-shadow: 2px 2px #000000;
}
.btn-primary {
    color: #f6f6f6;
    background-color: #408697;
    border-color: #000000;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 3px;
    text-shadow: none;
}

    .btn-primary:hover {
        background-color: #52d6f4;
        text-shadow: none;
    }

    .btn-primary:focus {
        background-color: #408697 !important;
        box-shadow: none !important;
        text-shadow: none;
    }

    .btn-primary:active {
        background-color: #408697 !important;
        box-shadow: none !important;
        text-shadow: none;
    }
    .btn-primary.active {
        background-color: #52d6f4 !important;
        text-shadow: none;
    }

.btn-danger {
    color: #ffd800;
    background-color: rgba(255, 0, 0, 0.70);
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 3px;
}

.btn-danger:hover {
    background-color: #ff0000;
}

.btn-secondary {
    color: #ffd800;
    background-color: rgba(255, 0, 0, 0.70);
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

.btn-disabled {
    background-color: #4e4e50;
    color: #1a1a1d;
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

* {
    box-sizing: border-box;
}

body {
    background: #8d8c8a;
    padding: 5px;
    height: 100vh;
    margin: 0;
    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
}

.page-wrap {
    /*background: white;*/
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 5fr);
    grid-template-rows: min-content min-content 1fr min-content;
    grid-gap: 1px;
    text-transform: none;
}

    .page-wrap > * {
        padding: 1rem;
        text-align: center;
    }

.page-header {
    grid-column: 1/-1;
    color: white;
    background-color: #363538;
}

.page-sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    height: 100%;
    color: white;
    background-color: #363538;
}

.page-nav {
    grid-column: 2/3;
    color: white;
    background-color: #363538;
}

.page-main {
    grid-column: 2/3;
    height: 100%;
    display: block;
    color: white;
    background-color: #363538;
    /*overflow:scroll;
    overflow-x:hidden;*/
}

.page-scroll {
    grid-column: 2/3;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #363538;
}

.page-footer {
    grid-column: 1/-1;
    background-color: #363538;
}

h4 {
    color: white;
    text-transform: none;
    text-align: left;
    padding-top: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
}

.textarea-text {
    text-wrap: normal;
    height: 200px;
    resize: vertical;
    font-size: small;
}

.textarea-noresize {
    text-wrap: none;
    resize: none;
    font-size: medium;
    height: 33px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    text-transform: none;
}

tbody {
    display: contents;
}

td, th {
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 5px;
}

details p {
    text-transform: none;
    text-align: left;
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content 1fr;
    }

        .page-wrap > * {
            grid-column: 1/-1 !important;
            grid-row: auto !important;
        }
}
/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}*/














































/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
