/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/


/*
    Colors:
    #363538 - dark
    #8d8c8a - grey
    #f6f6f6 - light
    #408697 - dim blue
    #52d6f4 - bright blue
*/

a {
    color: white;
}

    a:hover {
        color: #52d6f4;
        text-decoration: none;
        text-shadow: 2px 2px #000000;
    }

span#tracker {
    color: #52d6f4;
    text-shadow: 2px 2px #000000;
}
.btn-primary {
    color: #f6f6f6;
    background-color: #408697;
    border-color: #000000;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    padding: 3px;
    text-shadow: none;
}

    .btn-primary:hover {
        background-color: #52d6f4;
        text-shadow: none;
    }

    .btn-primary:focus {
        background-color: #408697 !important;
        box-shadow: none !important;
        text-shadow: none;
    }

    .btn-primary:active {
        background-color: #408697 !important;
        box-shadow: none !important;
        text-shadow: none;
    }
    .btn-primary.active {
        background-color: #52d6f4 !important;
        text-shadow: none;
    }

.btn-danger {
    color: #ffd800;
    background-color: rgba(255, 0, 0, 0.70);
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding: 3px;
}

.btn-danger:hover {
    background-color: #ff0000;
}

.btn-secondary {
    color: #ffd800;
    background-color: rgba(255, 0, 0, 0.70);
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

.btn-disabled {
    background-color: #4e4e50;
    color: #1a1a1d;
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

* {
    box-sizing: border-box;
}

body {
    background: #8d8c8a;
    padding: 5px;
    height: 100vh;
    margin: 0;
    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
}

p {
    margin: 4px;
}
.page-wrap {
    /*background: white;*/
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 5fr);
    grid-template-rows: min-content min-content 1fr min-content;
    grid-gap: 1px;
    text-transform: none;
}

    .page-wrap > * {
        padding: 1rem;
        text-align: center;
    }

.page-header {
    grid-column: 1/-1;
    color: white;
    background-color: #363538;
}

.page-sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    height: 100%;
    color: white;
    background-color: #363538;
}

.page-nav {
    grid-column: 2/3;
    color: white;
    background-color: #363538;
}

.page-main {
    grid-column: 2/3;
    height: 100%;
    display: block;
    color: white;
    background-color: #363538;
    /*overflow:scroll;
    overflow-x:hidden;*/
}

.page-scroll {
    grid-column: 2/3;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #363538;
}

.page-footer {
    grid-column: 1/-1;
    background-color: #363538;
}

h4 {
    color: white;
    text-transform: none;
    text-align: left;
    padding-top: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
}

.textarea-text {
    text-wrap: normal;
    height: 200px;
    resize: vertical;
    font-size: small;
}

.textarea-noresize {
    text-wrap: none;
    resize: none;
    font-size: medium;
    height: 33px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    text-transform: none;
}

tbody {
    display: contents;
}

td, th {
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 5px;
}

details p {
    text-transform: none;
    text-align: left;
}

/* The sidepanel menu */
#mySidepanel {
    display: none;
}
#mySidepaneldiv {
    display: none;
}
#myHeaderpaneldiv {
    display: none;
}
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

    /* The sidepanel links */
    .sidepanel a {
        /*padding: 8px 8px 8px 32px;*/
        margin-left: 6px;
        max-width: 200px;
        /*text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;*/
    }

        /* When you mouse over the navigation links, change their color */
        /*.sidepanel a:hover {
            color: #52d6f4;
        }*/

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        /*position: absolute;*/
        top: 0;
        /*right: 25px;*/
        /*font-size: 42px;*/
        /*margin-left: 50px;*/
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

.headerpanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    backdrop-filter: blur(8px);
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

    .headerpanel a {
        position:center;
    }

        .headerpanel a:hover {
            color: #52d6f4;
        }

.hamburger-icon {
    margin: 0;
    padding: 19px 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

    .hamburger-icon span {
        width: 40px;
        background-color: #000;
        height: 5px;
        display: block;
        margin-bottom: 6px;
    }

        .hamburger-icon span:last-child {
            margin-bottom: 0px;
        }

@media (max-width: 600px) {
    html {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content 1fr;
    }

        .page-wrap > * {
            grid-column: 1/-1 !important;
            grid-row: auto !important;
        }

    .page-sidebar {
        display: none;
    }
    #mySidepanel {
        display: initial;
    }
    #mySidepaneldiv {
        display: initial;
    }
    #myHeaderpaneldiv {
        display: initial;
    }
}














































/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
