/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/
a {
    color: #950740 !important;
}

.btn-primary {
    color: #ffd800;
    background-color: #1a1a1d;
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

.btn-delete {
    color: #ffd800;
    background-color: #ff0000;
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
    margin-top: 10px;
}

.btn-disabled {
    color: #000000;
    background-color: #808080;
    border-color: #000000;
    border-radius: 0;
    font-size: 14px;
    width: 100%;
    padding: 3px;
}

* {
    box-sizing: border-box;
}

body {
    background: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;
    font: 500 100% system-ui, sans-serif;
    text-transform: uppercase;
}

.page-wrap {
    /*background: white;*/
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 5fr);
    grid-template-rows: min-content min-content 1fr min-content;
    grid-gap: 1px;
    text-transform: none;
}

    .page-wrap > * {
        padding: 1rem;
        text-align: center;
    }

.page-header {
    grid-column: 1/-1;
}

.page-sidebar {
    grid-column: 1/2;
    grid-row: 2/4;
    height: 100%;
}

.page-nav {
    grid-column: 2/3;
}

.page-main {
    grid-column: 2/3;
    height: 100%;
    display: block;
    /*overflow:scroll;
    overflow-x:hidden;*/
}

.page-scroll {
    grid-column: 2/3;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.page-footer {
    grid-column: 1/-1;
}

h4 {
    color: white;
    text-transform: none;
    text-align: left;
    padding-top: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
}

.textarea-text {
    text-wrap: normal;
    height: 200px;
    resize: vertical;
    font-size: small;
}

.textarea-noresize {
    text-wrap: none;
    resize: none;
    font-size: medium;
    height: 33px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    text-transform: none;
}

tbody {
    display: contents;
}

td, th {
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 5px;
}

details p {
    text-transform: none;
    text-align: left;
}

@media (max-width: 600px) {
    html {
        font-size: 16px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .page-wrap {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content 1fr;
    }

        .page-wrap > * {
            grid-column: 1/-1 !important;
            grid-row: auto !important;
        }
}
/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}*/














































/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
