@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<aside class="page-sidebar">
    <partial name="_ManageNav" />
</aside>
<nav class="page-nav text-left">
    <h3 style="text-align:center; color:white"><span style="color:#52d6f4">M</span>anage your account</h3>
</nav>
<main class="page-main">
    <div>
        @RenderBody()
    </div>
    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
</main>
