<div id="mySidepanel" class="sidepanel" href="javascript:void(0)" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn btn btn-primary" onclick="closeNav()"><span id="tracker">C</span>lose</a>
    <partial name="_ManageNav" />
</div>