<div id="mySidepanel" class="sidepanel" href="javascript:void(0)" onclick="closeNav()">
    <partial name="_ManageNav" />
    <a href="javascript:void(0)" class="closebtn btn btn-primary mt-1" onclick="closeNav()">Close</a>
</div>