@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 style="text-align:center"><span style="color:#52d6f4">P</span>assword</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div style="margin: 0 auto">
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group" style="display:grid; grid-template-rows:auto; grid-template-columns: 200px auto 10px">
            <label asp-for="Input.OldPassword" style="grid-column-start: 1; grid-column-end: 2; line-height: 38px"><span style="color:#52d6f4">C</span>urrent Password</label>
            <input asp-for="Input.OldPassword" class="form-control" />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group" style="display:grid; grid-template-rows:auto; grid-template-columns: 200px auto 10px">
            <label asp-for="Input.NewPassword" style="grid-column-start: 1; grid-column-end: 2; line-height: 38px"><span style="color:#52d6f4">N</span>ew Password</label>
            <input asp-for="Input.NewPassword" class="form-control" />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group" style="display:grid; grid-template-rows:auto; grid-template-columns: 200px auto 10px">
            <label asp-for="Input.ConfirmPassword" style="grid-column-start: 1; grid-column-end: 2; line-height: 38px"><span style="color:#52d6f4">C</span>onfirm New Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:100px">Save</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}