@using TrackerZ.Views.Home
@{
    ViewData["Title"] = "Home Page";
    ViewData["ActivePage"] = ManageNavMenu.Index;
}
@model BugsViewModel
@{
    int all = Model.BugCounter;
    int closed = Model.ClosedBugs;
}

<aside class="page-sidebar">
    <partial name="_ManageNavMenu" />
</aside>
<nav class="page-nav text-left">
    <h3 style="text-align:center; color:white"><span style="color:#52d6f4">O</span>verview</h3>
</nav>
<main class="page-main">
    <div class="text-center">
        <div>
            <p style="color:white;text-transform:none">Number of incidents: @all</p>
            <p style="color:white;text-transform:none">Number of closed incidents: @closed</p>
            <br />
            <p><u>Latest Open Incident:</u></p>
            @if (Model.LatestOpenIncident.Text != null)
            {
                @Html.Raw(Model.LatestOpenIncident.Text)
            }
            else
            {
                <p>No open incidents!</p>
            }
            <br />
            <p><u>Latest Closed Incident:</u></p>
            @if (Model.LatestClosedIncident.Text != null)
            {
                @Html.Raw(Model.LatestClosedIncident.Text)
            }
            else
            {
                <p>No closed incidents!</p>
            }
        </div>
    </div>
</main>