@{
    ViewData["Title"] = "Home Page";
}
@model BugsViewModel
@{
    int all = Model.BugCounter;
    int closed = Model.ClosedBugs;
}

<aside class="page-sidebar" style="background-color:#1A1A1D">
    <a class="btn btn-disabled m-1 mt-3" style="background-color:#4e4e50; color:#1a1a1d">Home</a>
    <a asp-controller="Home" asp-action="Table" class="btn btn-primary m-1 mt-3" style="background-color:#950740">Table</a>
    <a asp-controller="Home" asp-action="New" class="btn btn-primary m-1 mt-3" style="background-color:#950740">New Incident</a>
</aside>
<nav class="page-nav text-left" style="background-color: #1A1A1D">
    <h3 style="text-align:center; color:white">Overview</h3>
</nav>
<main class="page-main" style="background-color:#1A1A1D">
    <div class="text-center">
        <div>
            <h4 style="color:white;text-transform:none">Number of incidents: @all</h4>
            <h4 style="color:white;text-transform:none">Number of closed incidents: @closed</h4>
        </div>
    </div>
</main>