@model BugsViewModel
@using TrackerZ.Views.Home
@{
    ViewData["Title"] = "New";
    ViewData["ActivePage"] = ManageNavMenu.New;
}

<script type="text/javascript">
    function validate() {
        var goon = true;
        if (document.getElementById('idTitle').value == '') {
            document.getElementById('idTitle').placeholder = 'Input Required!';
            document.getElementById('idTitle').style.borderColor = 'red';
            document.getElementById('idTitle').style.borderWidth = '2px';
            goon = false;
        }
        else {
            document.getElementById('lblTitleID').innerHTML = '';
            document.getElementById('idTitle').style.borderColor = 'none';
            document.getElementById('idTitle').style.borderWidth = '0';
        }
        if (document.getElementById('idSummary').value == '') {
            document.getElementById('idSummary').placeholder = 'Input Required!';
            document.getElementById('idSummary').style.borderColor = 'red';
            document.getElementById('idSummary').style.borderWidth = '2px';
            goon = false;
        }
        else {
            document.getElementById('lblSummaryID').innerHTML = '';
            document.getElementById('idTitle').style.borderColor = 'none';
            document.getElementById('idTitle').style.borderWidth = '0';
        }
        if (goon == false) {
            return false;
        }
        else {
            return true;
        }
    }
</script>

<aside class="page-sidebar">
    <partial name="_ManageNavMenu" />
</aside>
<nav class="page-nav text-left">
    <h3 style="text-align:center; color:white"><span style="color:#52d6f4">N</span>ew Incident</h3>
</nav>
<main class="page-main">
    <form method="post" asp-action="SubmitBug" onsubmit="return validate()">
        <div style="display:grid; grid-template-rows:auto; grid-template-columns: 100px 50px auto 10px">
            <h4 style="grid-column-start: 1; grid-column-end: 2">
                <span style="color:#52d6f4">T</span>itle
            </h4>
            <div style="grid-column-start: 3; grid-column-end: 4">
                <textarea type="text" class="text-sm-left textarea-noresize" name="title" id="idTitle" value=""></textarea>
            </div>
            <div style="grid-column-start: 4; grid-column-end: 5">
                <label id="lblTitleID" style="float:left; color:red; text-transform:none; margin-left: 10px; margin-top: 3px"></label>
            </div>
            <h4 style="grid-column-start: 1; grid-column-end: 2">
                <span style="color:#52d6f4">C</span>ategory
            </h4>
            <div style="grid-column-start: 3; grid-column-end: 4">
                <div style="float:left; font-size: larger; margin-top:2px">
                    <select name="category">
                        @foreach (var category in Model.BaseCategory)
                        {
                            <option value="@category.CatId">@category.CatName</option>
                        }
                    </select>
                </div>
            </div>
            <h4 style="grid-column-start: 1; grid-column-end: 2">
                <span style="color:#52d6f4">S</span>ummary
            </h4>
            <div style="grid-column-start: 3; grid-column-end: 4">
                <textarea type="text" class="text-sm-left textarea-text" name="text" id="idSummary" value=""></textarea>
            </div>
            <h4 style="grid-column-start: 1; grid-column-end: 2">
                <span style="color:#52d6f4">S</span>tatus
            </h4>
            <div style="grid-column-start: 3; grid-column-end: 4">
                <div style="float:left; font-size: larger; margin-top:2px">
                    <select name="status">
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                    </select>
                </div>
            </div>
            <div style="grid-column-start: 1; grid-column-end: 5">
                <button type="submit" class="btn btn-primary m-1" style="width: 100px">Submit</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-danger m-1" style="width: 100px">Cancel</a>
            </div>
        </div>
    </form>
</main>