@{
    ViewData["Title"] = "Privacy Policy";
}
<aside class="page-sidebar">
    <partial name="_ManageNavMenu" />
</aside>
<nav class="page-nav text-left">
    <h1 style="text-align:center; color:white; text-transform:none"><span style="color:#52d6f4">P</span>rivacy Policy</h1>
</nav>
<main class="page-main">
    <p style="color:white; text-transform:none"><span style="color:#52d6f4">C</span>opyright &copy; @DateTime.Now.Year Frode Ulriksen</p>
</main>
